/* @import url("https://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin") */

@font-face {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    src: url(ARTPF\portfolio\static\FiraCode-VariableFont_wght.ttf) format('truetype');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

h1 {
    font-family: 'Fira Code', monospace;
}

body {
    font-family: 'Fira Code';
}