*{
    font-family: 'Fira Code', monospace;
}

body {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
h1 { 
    font-size: 300%;
    text-align: center;
    font-weight: 20%;
}
h2 {
    font-size: 125%;
    text-align: center;
}
p {
    font-size: 75%;
    text-align: center;
    color: black;
}
a {
    color: black;
    text-decoration:none;
}
div {
    align-items: center;
}

.topnav { /* navigation bar */
    background-color: black;
    /* font */
    color: white;
    text-align: left;
    text-indent: 5%;
    /* text-wrap: pretty; */
    padding-top: 10px;
    padding-bottom: 10px;

}
.header { /* "portfolio" @ top */
    text-align: center;
    font-size: 100%;
}

img {
    width: 400px; 
    top: 20px;
    margin-bottom: 20px;
}