<!DOCTYPE html>
<!-- home page art-->
<!--regular studies page-->
{% extends "portfolio/layout.html" %}
{% load static %}

{% block body %}
    <!-- <ul> -->
    <h2>About Me</h2>
        <div>
            <p>
                I am a junior at The University of Alabama (Roll Tide) pursuing a double major in Computer Science and Studio Arts, concentration in Digital Media. 
                <br>
                This website was coded in Python (django) and HMTL. the github is linked <a style="color : mediumvioletred" href="https://github.com/sxiao135/art_portfolio">here</a>!
            </p>
        </div>
{% endblock %}
