<!DOCTYPE html>
{% extends "portfolio/layout.html" %}
{% load static %}
<script src="{% static 'javascript.js' %}" defer></script>

{% block body %}
    <!-- <main> -->
        {% for work in works %}
        <center>
        <div class="responsive">
            <div class="gallery" onmouseover="showText()" onmouseout="showImage()">
                <a href="{% url 'image_detail' work.id %}">
                    <img id="image" src='{% static work.img_path %}' alt="{{ work.title }}">
                </a>
                <div id="text" class="overlay">
                    <h2>{{ work.title }}</h2>
                    <p> {{ work.description }} </p>
                </div>
            </div>
        </div>
        </center>
        {% endfor %}
        <div class="clearfix"></div>
{% endblock %}
