<!DOCTYPE html>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira%20Code">
<link rel="stylesheet" href="C:\Users\sxiao\art_portfolio\art_portfolio\art_portfolio\ARTPF\portfolio\static\artpf.css">
<style>
    h1 {
        font-family: 'Fira Code', monospace;
        font-weight: 400;
    }

    h2 {
        font-family: 'Fira Code', monospace;
        font-weight: 200;
    }
</style>


<html lang="en">
    <head>
        <title>Susan Xiao's Art Portfolio</title>
    </head>
    <body>
        <h1>susan xiao</h1>
        {% block body %}
        {% endblock %}
    </body>
</html>