<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}">

<html lang="en">
    <head>
        <title>Susan Xiao's Art Portfolio</title>
    </head>
    <h1><a href= "{% url 'homepage' %}">Susan Xiao</a></h1>
    <h2 class="header">Art Portfolio</h2>
    <br>
    <div class="topnav">
        <!-- &emsp needs to be fixed -->
        <a class="topnav" href= "{% url 'studies' %}">Studies&emsp;</a> 
        <a class="topnav" href= "{% url 'digital' %}">Digital Works&emsp;</a> 
        <a id="about" class="topnav" href= "{% url 'about' %}">About Me&emsp;</a>
        <!-- <p class="topnav">UNDER CONSTRUCTION</p> -->
      </div>
    <body>
        <br>
        {% block body %}
        {% endblock %}
    </body>
</html>