<!DOCTYPE html>
<!-- home page art-->
<!--regular studies page-->
{% extends "portfolio/layout.html" %}
{% load static %}

{% block body %}
    <!-- <ul> -->
        <h2>Digital & Traditional Studies</h2>
        <hr>
        <br>
        {% for work in works %}
            <div>
                <h2>{{ work.title }}</h2>
                    <center><img src='{% static work.img_path %}' alt="{{ work.title }}"></center>
                <p> {{ work.description }} </p>
                <br>
                <br>
            </div>
        {% endfor %}
{% endblock %}
