<!DOCTYPE html>
<!-- home page art-->
<!--regular studies page-->
{% extends "portfolio/layout.html" %}
{% load static %}

{% block body %}
    <!-- <ul> -->
        <h2>Digital & Traditional Studies</h2>
        {% for work in works %}
            <div>
                <h2>{{ work.title }}</h2>
                    <!-- <iframe id ="{{ work.id }}" src="{{ work.img_path }}" frameborder="0" scrolling="yes" allowfullscreen title="{{ work.title }}"></iframe> -->
                    <center><img src='{% static work.img_path %}' alt="{{ work.title }}"></center>
                    <!-- the image path seems to be printing static before it. it's still not working. the picture image paths need to be fixed -->
                    <p> {{ work.description }} </p>
                <br>
            </div>
        {% endfor %}
{% endblock %}
